
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TehlikeliIslem</title>
</head>
<body>
    Ip Adresiniz Kayıt Ediliyor. Lütfen Yetkisiz İşlem Yapmayınız..

</body>
</html>
